# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
sdist/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST

notebooks/
*.ipynb
playground/
.idea
.DS_Store
.ipynb_checkpoints/
.snakemake
hail-*.log
*.BAK

.env
.vscode/

nagim_qc.Rmd
